.banner {
  background:url(images/banner-bg-about-2.png) no-repeat center center;
  background-size:cover;
  width:100% - 30px;
  height:215px;
  padding-left:30px;
  display:flex;
  align-items:center;
}

.banner_title {
  top:7px;
  padding-left:10px;
  border-left:5px solid #df9801;
}

.banner_title h1 {
  font-size:24px;
  font-weight:400;
  margin:0px;
  padding-left:3px;
  color:#df9801;
  text-transform:uppercase;
}

.banner_title h2 {
  font-size:58px;
  font-weight:bold;
  margin-top:0px;
  margin-bottom:0px;
  text-transform:uppercase;
}
