.cards {
  width:100%;
  margin:0px;
}

.card {
  width:30%;
  float:left;
  border-top:7px solid #10a4cd;
  margin-right:20px;
}

.card-img img {
  width:100%;
}

.card-info {
  width:100%;
  padding:15px 30px 20px;
}

.card-info-title {
  padding:0px 0px 0px 5px;
  border-left:2px solid #10a5cd;
  margin:20px 0px;
}

.card-info-title h3 {
  color:#10a5cd;
  font-weight:400;
  font-size:18px;
  margin:0px 7px;
  text-transform:uppercase;
}

.card-info-title h4 {
  font-size:14px;
  margin:3px 7px 0;
  text-transform:uppercase;
}

.card-line {
  float:left;
  width:60%;
  height:1px;
  background-color:#ccc;
}

.card-text {
  color:#535353;
  text-transform:uppercase;
  font-size:14px;
  font-weight:bold;
  padding:15px 15px 15px 30px;
  clear:both;
}
