.info_desc_card {
  border-top:7px solid #75bd29;
  padding:20px 30px;
}

.info_desc {
  padding:15px 30px 20px;
}

.info_desc_title {
  border-left:2px solid #75bd29;
  margin:25px 0px;
}

.info_desc_title h1 {
  color:#75bd29;
  font-size:18px;
  margin:0px 5px;
  text-transform:uppercase;
}

.info_desc_title h2 {
  font-size:14px;
  margin:0px 5px;
  text-transform:uppercase;
}

.info_desc img {
  width:100%;
}

.info_desc p {
  margin-top:20px;
}
