@import url(nav.css);
@import url(welcome_card.css);
@import url(cards.css);
@import url(banner.css);
@import url(info_nav.css);
@import url(info_desc.css);

body {
  background-image:url(images/page-bg.jpg);
  background-size:auto;
  background-repeat:no-repeat;
  background-position:top center;
  background-attachment:fixed;
}

#nav_container {
  float:left;
  margin-right:24px;
  margin-bottom:80px;
}

#main_container {
  float:left;
  width:70%;
}

.welcome_card {
}

.cards {
  margin:20px 0px;
}

