.welcome_card {
  width:100%;
  background-image:url(images/banner-bg-about.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  border-top:7px solid #a92446;
  min-height:320px;
  background-color:white;
  background-position:bottom right;
}

.welcome_container {
  position:relative;
  width:55%;
  padding:70px 30px 60px 50px;
}

.welcome_title {
  border-left:4px solid #a92446;
}

.welcome_title h1 {
  font-size:14px;
  color:#a92446;
  margin:0 10px;
  font-size:24px;
}

.welcome_title h2 {
  font-size:40px;
  margin:0 10px;
  font-weight:600px;
}

.welcome_text {
  padding-left:15px;
}

.welcome_text ul{
  padding 10px 15px 30px;
  line-height:2;
  text-transform:uppercase;
}

.welcome_text button {
  background-color:#a92446;
  color:#fff;
  font-weight:bold;
  border:none;
  padding:10px 30px;
}
