@import url(nav.css);
@import url(welcome_card.css);
@import url(cards.css);
@import url(banner.css);
@import url(info_nav.css);
@import url(info_desc.css);

body {
  width:1200px;
  margin-top:80px;
  margin-right:auto;
  margin-left:auto;
  background-image:url(images/page-bg.jpg);
  background-size:auto;
  background-repeat:no-repeat;
  background-position:top center;
  background-attachment:fixed;
}

#nav_container {
  float:left;
  margin-right:24px;
  margin-bottom:80px;
}

#main_container {
  float:right;
  width:73%;
  margin-right:-15px;
  margin-left:-15px;
}

.welcome_card {
  margin-bottom:30px;
}

.cards {
  margin:20px 0px 30px;
}

.banner {
  margin-bottom:30px;
}

.info_nav_desc_container {
  display:flex;
  justify-content:space-between;
}

.info_nav {
  width:30%;
}

.info_desc_card {
  width:60%;
}

.cpright {
  clear:both;
  color:white;
  font-size:11px;
  padding:30px 0px;
  margin-bottom:0px;
  text-align:right;
}

.cpright p {
  margin:0px;
}